body {
    display: flex;
    flex-direction: column;
}

#image-list li {
    list-style: none;
    height: 350px;
    width: 200px;
    border: 1px solid red;
    float: left;
    margin: 5px;
    padding: 5px;
}

#image-list img {
    width: 100%;
}